body{

	
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	background: white;
	padding: 80px;
	background: url("../images/relapse.jpg") no-repeat;
	background-position: center left;
	background-size: cover;
	overflow-x: hidden;

}




.star{
	width: 20px;
	height: 20px;
}

header .title, header .name{

	text-align: center;

}

header .title{

	font-size: 35px;
	position: relative;
	top: 150px;
	transform: scale(0);
	
}

header .title.in-view{
	top: 0px;
	transform: scale(1);
}

header .title > img {

	float: left;
	width: 80px;
}


header .title.in-view {
    top: 0px;
    text-shadow: 3px 2px 2px rgb(23, 49, 106);
}

header .name{
	font-size: 20px;
	position: relative;
	left: -100%;

}

header .name.in-view {
	left: 0;
}

header .trans-from-top {

	transition: transform ease-in-out 0.3s, top ease-in-out 0.2s 0.2s;

}

header .trans-from-left {
    transition: left ease-in-out 0.4s 0.4s;
}

.main-section{
	width: 100%;
	height: 950px;
	min-height: 800px;
	overflow: hidden;
}

.main-section .side-menu{

	width: 0px;
	float: left;
	display: inline-block;
	background: rgba(32, 60, 117, 0.52);
	transition: width ease-in-out 0.2s 0.4s;
	height: 100%;
}

.main-section .side-menu.in-view {
	width: 30%;
	}

.side-menu > ul {

	list-style: none;
	padding: 0;
	font-size: 16px;
	font-weight: 800;
	overflow: hidden;

}

.side-menu > ul > li {

	list-style: none;
    border-bottom: 1px solid #ededed;
    color: white;
    height: 45px;
    display: block;
    transition: transform 0.3s;
}

.side-menu > ul > li:hover{
	transform: scale(1.5);
	cursor: pointer;

}

.side-menu > ul > li:hover > *{

	text-align: center;
}

.side-menu > ul > li img{

	margin-right: 5px;
}

.side-menu > ul > li > a{

	color: white;
	width: 100%;
	text-decoration: inherit;
	padding: 10px;
	display: block;
}

.side-menu > ul > li > a:active {
    background: white;
    color: #c0bcc1;
}

.main-section .main-content{

	width: 0px;
	display: inline-block;
	float: right;
	color: white;
	background: rgba(99, 158, 174, 0.64);
	height: 100%;
	transition: width ease-in-out 0.2s 0.4s, background-color ease-in-out 0.2s;
}

.main-section .main-content.in-view {
    width: 69.7%;
}

.main-content > div {

	text-align: center;
	position: relative;
	 top: 4000px;
	 transition: top ease-in-out 0.4s 0.3s;
	  height: 0px;
}


.main-content > div > div.content-padding {
    padding: 15px;
    margin-left: 100px;

}

.main-content > div.in-view > div.content-padding {
    height: 100%;
}

.main-content > div.in-view {
    top: 0px;
    height: auto;

}

.main-content .content-heading {
    font-size: 25px;
}

.main-content .description {
    text-align: left;
}

.main-content .description .round-div {

		 width: 260px;
		 height: 260px;
		 background-color: white;
		 border-radius: 150px;
		 border: 10px solid cadetblue;
		 color: black;
		 text-align: center;
		 padding-top: 115px;
		 box-sizing: border-box;
		 font-size: 30px;
		 transition: transform ease-in-out 0.4s 0.9s;
		 margin: 15px;
		  font-weight: 900;
		  vertical-align: middle;
		  display: inline-block;
		  transform: scale(0);
	 }

.main-content > div.in-view .round-div {
    transform: scale(1);
}

.round-div.uidev {
    background: url("../images/uidevpng.png") round;
}


.round-div.agile {
    background: url("../images/java.png") round;
}

.round-div.tdd {
    background: url("../images/TDD.png") round;
}

.round-div.rest {
    background: url("../images/restpng.png") round;
}

.round-div.exp {
    background: url("../images/exp.png") round;
}

.transparency {
    opacity: 0.7;
    background: white;
}

.half-square{

	width: 100px;
	height: 100px;
	background: transparent;
	position: absolute;
	margin: 50px;
	animation: rotate50 2s;
	animation-iteration-count: infinite;


}

.top-left{

	top: 0px;
	left: 0px;
}

.top-right{

	top: 0px;
	right: 0px;
}

.top-right .vertical {
    margin-left:80px;
}


.half-square .horzntl {
    width: 100%;
    height: 20px;
  
}

.half-square .vertical {
    width: 20px;
    height: 100%;
}

.half-square > div {
    background-color: #ff747c;
}

@keyframes rotate50 {
    0% {transform:rotate(0deg);opacity:1;}
    25% {transform:rotate(45deg);opacity:0.5;}
    50% {transform:rotate(0deg);opacity: 1}
    75% {transform:rotate(-45deg); opacity: 0.5}
    100% {transform:rotate(0deg); opacity: 1}
}

#tech .description > div{

	display: inline-block;
	width: 100%;
	clear: both;
}

#tech img{

	
	transition: all ease-in-out 0.4s 1s;
	height: 150px;
    float: left;
    box-shadow: 0px 1px 3px #DAA9D4;
    margin: 10px;
     opacity: 0;
}

#tech.in-view img {
    opacity: 1;
}

#exp .projects > li {
    padding: 10px;
}

#exp .projects .project-name {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}



.project-role {
    font-size: 16px;
    padding: 5px;
}

.project-role > .date, .project-role > a {
    font-size: 12px;
    text-decoration: underline;
    color: #EFEFEF;
}

.overlay {
    position: fixed;
    top: 0px;
    left:0px;
    z-index: -100;
    opacity: 0;
    transition: opacity ease-in 0.2s;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 62, 62, 0.7);
}

.overlay.show {
    opacity: 1;
    z-index: 1000;
}

.modal-wrapper {
    position: fixed;	
    top: -10000px;
    left: 35%;
    opacity: 0;
    transition: top ease-in-out 0.3s, opacity 0.1s 0.1s;
    z-index: 1000;
    width: 30%;
    height: 30%;
    background-color: white;
    box-shadow: 0px 3px 4px grey;
    text-align: center;
}

.modal-wrapper.fade-in {
    top:100px;
    opacity: 1;
}

.contact{

	margin-top: 40px;
	font-weight: bold;
    
    font-style: italic;
}

.email{

	margin-left: 90px;
	padding: 10px;
	
}

#profile ul{

	margin-top: 50px;
}

#profile li a:hover{

	color: yellow;
}


#profile li a:visited{

	color: pink;
}

#profile li a{

	text-decoration: none;
	 color: #EFEFEF;
}



